fastapi>=0.95.0
flask>=3.0.0           # API (opcional)
matplotlib>=3.8.2
pandas>=2.1.3
psycopg2-binary>=2.9.6  # Para PostgreSQL
pymysql>=1.0.0          # Para MySQL
python-dotenv>=1.0.0
pyyaml>=6.0
scikit-learn>=1.3.2
seaborn>=0.12.2
sqlalchemy>=2.0.20
uvicorn>=0.21.1
